* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.batn-primary {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 10px 35px;
  height: 50px;
  border-radius: 8px;
  background: #FD6E0A;
}
.header {
  background: #FFF8F3;
  background-image: url('/images/header_bg.png'), url('/images/mahabub.png');
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
/* header and navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 125px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
.text-primary {
  color: #FD6E0A;
}